.icon-dark {
    color : floralwhite;
}

.course-background-light {
    background-color: floralwhite;
}

.right-align {
    float : right;
}

.course-item-middle {
    border-right-style: hidden;
    border-left-style: hidden;
}

.course-item-left {
    border-right-style: hidden;
}

.course-item-right {
    border-left-style: hidden;
}

.my-plus-stuck-at-bottom-right {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 100000;
}

.card-margins {
    margin-top: 15px;
    margin-bottom: 15px;
}

.icon-margins {
    margin-right: 5px;
    margin-left: 5px;
}